<!-- 
    Memo CSS
        max-w-7xl: maximum wide set to 7xl (! not m-w-7xl but well max-w-7xl !)
        max-auto: wide auto and centered  
        border-x: set border on left&right sides
        p-3: set padding 3px top&bottom + left&right
        divide-y: add a horizontal separator between the rows inside the div
        divide-solid: solid separation
        pb-3: set padding bottom to 3px
        felx: display flex
        mr-16: set marge-rigth to 16px
        mb-2: set margin bottom to 2px
        py-3: set padding on top&bottom to 3px
        pt-3: set padding top to 3px
        bg-rose-600: background pink w/ 600 transparence
        rounded-full: Round the basket icon
-->
<mat-toolbar class="max-w-7xl mx-auto border-x justify-between">
  <a routerLink="home"> Coffee for Warzee</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <!-- I.5: MàJ dynamique du badge et le cacher si panier vide via -->
    <!-- [matBadgeHidden]="!itemsQuantity" -->
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="!itemsQuantity"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <!-- I.4: MàJ dynamique du nombre d'article dans la mini carte panier -->
        <span class="mr-20">{{ itemsQuantity }} items</span>
        <a routerLink="cart">View Cart</a>
      </div>
      <!-- I.6: Si panier non vide, alors en permettre l'affichage via -->
      <!-- *ngIf="cart.items.length" -->
      <div *ngIf="cart.items.length" class="py-3">
        <!-- I.7: Si panier non vide, alors boucler le contenu via -->
        <!-- *ngFor="let item of cart.items" -->
        <div
          *ngFor="let item of cart.items"
          class="flex justify-between font-light mb-2"
        >
          <!-- I.8: MàJ dynamique des attributs à afficher sur le mini panier via {{}}-->
          {{ item.name }} x {{ item.quantity }}
          <span class="font-bold">{{ item.price | currency : "EUR" }}</span>
        </div>
      </div>
      <div class="flex justify-between py-3 font-light">
        TOTAL
        <!-- I.9: Mettre à jour le total du panier -->
        <span class="font-bold">{{
          getTotal(cart.items) | currency : "EUR"
        }}</span>
      </div>
      <div class="pt-3 flex justify-between">
        <button class="bg-rose-600 text-white rounded-full w-9 h-9">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <button
          routerLink="cart"
          class="bg-green-600 text-white rounded-full w-9 h-9"
        >
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
