<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-7xl mx-auto border-x"
>
  <mat-drawer mode="side" opened class="p-6">
    <!-- E.4 -->
    <!-- Ajout du nouveau composant -->

    <!-- F.5 -->
    <!-- Linked fn call 'showCategory' -->
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <!-- D.7  -->
    <!-- Ajout de l'event 'columsCountChange' (TBC) -->
    <app-products-header (columnsCountChange)="onColumnsCountChange($event)">
    </app-products-header>
    <!-- D.2 -->
    <!-- Ajout de l'affichage de la var 'cols' dans la homepage via {{}} -->
    <span> Columns number: {{ cols }}</span>
    <br />
    <span>{{ category }}</span>
  </mat-drawer-content>
</mat-drawer-container>
